 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-ruby-plain"></i>
      <p>Development and Design go hand in hand. I believe that when you develop good infrastructure first, great design will naturally follow.</p>
    </div>
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-plain colored"></i>
      <p>After developing a solid foundation of systems and technology to build from, the design comes easy simply because it's easy to build on. </p>
    </div>
</div>
