<div class="user">
    <div class="tech">
      <h2>Interested?</h2>
      <p>Just send me an email or call me at the number and I'll get back to you as soon as possible</p>
      <h4>Phone:</h4>
      <p>587-917-6307</p>
    </div>
    <div class="forms">
    <form action="https://formspree.io/annanamousejoe@live.ca"
      method="POST">
      <input type="text" placeholder="Your email" name="email">
      <input type="text" placeholder="Your Subject" name="subject">
      <textarea placeholder="Your Message" name="message"></textarea>
      <input type="submit" value="Send">
    </form>
  </div>
</div>
